.header h1 {
display: inline-block;
font-weight: 300;
color: #009db0;
padding: 0;
margin: 0 0 0 -31px;
font-size: 48px;
line-height: 48px;
vertical-align: 17px;
}

html {
}
  

@media only screen and (max-width: 600px) {
  .header h1 {
    display: none;
  }
}

#header_link .material-icons {
  font-size: 48px;
  color: #888;
  float: left;
  padding-right: 0.2em;
}

#header_link a {
  color: #888;
  text-decoration: none;
  height: 40px;
  width: 300px;
  display: inline-block;
}

#header_link a:hover {
  color: #555;
}

#header_link span {
  display: block;
}

#username {
  font-weight: bold;
  font-size: 150%;
}

#ifc_tab {
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 40%;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
}

#ifc_dropzone {
  border: 1px solid #ddd;
  background: #fff;
  padding: 20px 20px;
  border-width: 2px 0;
  width: 100%;
}

#ifc_dropzone:hover {
  background: #f4f4f4;
}

.tabs {
  display: none;
}

.dz-message {
  color: #888;
}

.dz-message .material-icons {
  display: block;
  font-size: 48px;
}

#config {
  width: 90%;
  line-height: 200%;
  background: none;
}
