html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Open Sans';
  }

  html, body, .full-screen {
    height: 100%;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .header {
    overflow: hidden;
    border-bottom:1px solid rgb(235, 235, 235);
    border:0;
    padding:2px; 
  }

  .banner, .hidden_banner{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #888;
    font-weight: 100;
    font-size:xx-large;
    height: 100%;
    padding: 0;
    text-align: left;
  }

  .sentence{
    margin-top: 1em;
    background-color: #ffffff80;
    padding: 0.5em 1em;
  }

   .hidden_banner{
    display: none;
    color: black;
  }

  /* Style the links inside the navigation bar */
.header a {
    float: left;
    display: block;
  }

.header a, .visible_menu a {   
    color: #222;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Change the color of links on hover */
  .header a:hover, .visible_menu a:hover {
    color: #444;
    text-decoration: underline;
  }
  
  /* Add an active class to highlight the current page */
  .header a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .header .icon {
    display: none;
  }

  .full-screen {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-areas: "head"
      "main"
      "foot";
    grid-template-rows: 60px 1fr 30px;
    grid-template-columns: 1fr;
    box-sizing: border-box;
  }

  .sandbox {
    border: solid 12px red;
  }

  .sandbox div.header h2 {
    background: red;
    color: white;
    height: 30px;
    margin-top: -16px;
    line-height: 30px;
    padding: 12px;
    border-radius: 0 0 16px 16px;
  }
  
  .full-screen>.header {
    grid-area: head;
    display: flex;
    justify-content: space-between;
  
  }
  .full-screen>.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
  }

  .main {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .full-screen>.footer {
    grid-area: foot;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 400;
    line-height: 1.45;
  }


  .bsdd-logo {
    height: 100%;
  }
  
  .bar_info {
    height: 100%;
    width: 200px;
    /* background-color: #b3b3b3; */
    display: flex;
    gap:7px;
  
  }
  
  .bar_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 0.8em;
    text-decoration: none;
    color: black;
  }
  
  .material_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .hidden_menu {
    /* min-height: 10%; */
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    visibility: hidden;
  }
  
  
  .visible_menu {
    /* min-height: 10%; */
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: right;
    visibility: visible;
  }
  
  .visible_menu a, .visible_menu span {
    padding: 0.5em 2em 0.5em 0;
    border-bottom: solid 1px #eee;
  }
  
  #unfolded_button {
    display: flex;
    flex-direction: column;
    text-align: center;
  
    width: 100%;
    display: none;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    visibility: hidden;
    display: none;
  }
  .dz-message .material-icons {
    display: block;
    opacity: 0.5;
    font-size: 3em;
}

.dz-image {
    display: none !important;  
}

.dz-details {
    width: auto !important;
    position: inherit !important;
    padding: 0 !important;
}

.dz-preview {
    border: solid 1px #aaa;
    width: 75%;
    padding: 1em !important;
    background: #ddd;
}

.dz-progress {
    position: relative !important;
    margin: 0.5em !important;
    width: 80% !important;
    margin-left: -40% !important;
}

.dropzone {
  width: 100%;
  background: #eee;
  border-width: 1px;
  border-color: #ddd;
  height:200px;
  min-height: 200px;
  max-height: 200px;
}

.dropzone:hover {
  background: #f4f4f4;
}

.submit-area {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  justify-content: space-evenly;
  gap: 32px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 50%) 2px 2px 8px;
  margin-bottom: 20px;
  max-width: 300px;
  min-width: 300px;

}

.dropzone {
  overflow: overlay;
  text-align: center;
  min-height: 40%;
} 

.submit-button{
  height: 40px;
  margin-bottom: 1%;
  margin-top: 1%;
  text-align: center;
  
}

  
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;

}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#unfolded {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
  
  