@import url("base.css");


.main {
  background-image: url('./icons/background2.jpg');
}

/* Phones */
@media only screen and (max-width: 600px) {

  .bar_text {
    display: none;
  }

  .bar_info {
    height: 100%;
    width: 65px;
    background-color: #b3b3b3;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    display: flex;
  }

  .container {
    display: flex;
    visibility: visible;
  }

  .material_container {
    display: none;
  }

  #unfolded_button {
    display: inline;
  }

}


/* Phones landscape */
@media only screen and (max-width: 600px) and (orientation : landscape) {


  .bar_text {
    display: none;
  }

  .container {
    display: flex;
    visibility: visible;
  }

  .material_container {
    display: none;
  }

  #unfolded_button {
    display: inline;
  }


  .bar_info {
    height: 100%;
    width: 65px;
    background-color: #b3b3b3;
    display: flex;
    justify-content: center;
    display: flex;
  }

  .container {
    display: flex;
    visibility: visible;
  }

  #unfolded_button {
    display: inline;
  }


}


/* Tablets */
@media only screen and (max-width: 925px) and (orientation : landscape) {

  .bar_text {
    display: none;
  }

  .visible_menu {
    min-height: 5%;
    width: 100%;
  }

  .hidden_menu {
    min-height: 5%;
    width: 100%;


  }

  .material_container {
    display: none;
  }


  .container {
    display: flex;
    flex-direction: column;
    visibility: visible;

  }

  #unfolded_button {
    display: inline;
  }


  .bar_info {
    height: 100%;
    width: 65px;
    /* background-color: #04AA6D; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

}



