@import url("base.css");



.main {
  background-image: url('./icons/background2.jpg');
}



.dropzone {
  width: 100%;
  background: #eee;
  border-width: 1px;
  border-color: #ddd;
}

.dropzone:hover {
  background: #f4f4f4;
}

.submit-area {
  width: 20%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  justify-content: space-evenly;
  gap: 32px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 50%) 2px 2px 8px;
  max-height: 250px;
}

.dropzone {
  overflow: overlay;
  text-align: center;
  min-height: 40%;
}

.config {
  width: 100%;
  background-color: rgb(210 237 240);
}

.submit-button{
  height: 40px;
}

/* Phones */
@media only screen and (max-width: 600px) {

  .bar_text {
    display: none;
  }

  .bar_info {
    height: 100%;
    width: 65px;
    background-color: #b3b3b3;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    display: flex;
  }

  .container {
    display: flex;
    visibility: visible;
  }

  .material_container {
    display: none;
  }

  #unfolded_button {
    display: inline;
  }

}


/* Phones landscape */
@media only screen and (max-width: 600px) and (orientation : landscape) {


  .bar_text {
    display: none;
  }

  .container {
    display: flex;
    visibility: visible;
  }

  .material_container {
    display: none;
  }

  #unfolded_button {
    display: inline;
  }


  .bar_info {
    height: 100%;
    width: 65px;
    background-color: #b3b3b3;
    display: flex;
    justify-content: center;
    display: flex;
  }

  .container {
    display: flex;
    visibility: visible;
  }

  #unfolded_button {
    display: inline;
  }


}


/* Tablets */
@media only screen and (max-width: 925px) and (orientation : landscape) {

  .bar_text {
    display: none;
  }

  .submit-area {
    width: 70%;
    height: 55%;
  }

  .visible_menu {
    min-height: 5%;
    width: 100%;


  }

  .hidden_menu {
    min-height: 5%;
    width: 100%;


  }

  .material_container {
    display: none;
  }


  .container {
    display: flex;
    flex-direction: column;
    visibility: visible;

  }

  #unfolded_button {
    display: inline;
  }


  .bar_info {
    height: 100%;
    width: 65px;
    /* background-color: #04AA6D; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }


}

.dz-message .material-icons {
    display: block;
    opacity: 0.5;
    font-size: 3em;
}

.dz-image {
    display: none !important;  
}

.dz-details {
    width: auto !important;
    position: inherit !important;
    padding: 0 !important;
}

.dz-preview {
    border: solid 1px #aaa;
    width: 75%;
    padding: 1em !important;
    background: #ddd;
}

.dz-progress {
    position: relative !important;
    margin: 0.5em !important;
    width: 80% !important;
    margin-left: -40% !important;
}


#config {
    display: none;
}
