@import url("base.css");

h1 {
  padding: 0;
  margin: 0;
}

.result {
  width: 70%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
}

#fn {
  font-style: italic;
}

#title {
  display: flex;
  gap: 2px;
  font-size: 35px;
}

.box-title {
  display: flex;
  font-size: 27px;
  gap: 2px;
}

.box-specific {
  font-size: 20px;
  margin-left: 5px;
  text-indent: 20px;
}

.box-status {
  font-size: 20px;
  margin-left: 5px;
  text-indent: 25px;
}

#checking-box {
  display: flex;
  /* gap: 5px; */
}

#ifctype {
  text-align: left;
}


tr {
  opacity: 1;
  transition: 3s all ease;
}

td {
  width: 50%;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid rgba(161, 161, 161, 0.24);
  border-left: none;
  border-right: none;
  align-self: center;
  padding: 0.5em 0;
}

table tr:first-child td {
    border-top: none;
}

td.rowheader {
  border-color: black;
  font-weight: bold;
  padding-top: 2em;
}

th {
  font-weight: bold;
}

#classification {
  font-size: 25px;
}

#guid {
  font-weight: bold;
}

#bsdd {
  display: flex;
  flex-direction: column;
}

table {
  width: 80%;
}

table pre {
  max-width: 80vw;
  box-sizing: border-box;
  overflow-x: auto;
}

/* Phones */
@media only screen and (max-width: 600px) {
  .hidden_banner{
    align-content: center;
    display:inline;
  }

  .banner{
    display: none;
  }

  .full-screen>.main {
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bar_text {
    display: none;
  }

  .bar_info {
    height: 100%;
    width: 65px;
    background-color: #b3b3b3;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    display: flex;
  }

  .container {
    /* background-color: #b3b3b3;; */
    display: flex;
    visibility: visible;
  }

  .material_container {
    display: none;
  }

  #unfolded_button {
    display: inline;
  }


}


/* Phones landscape */

@media only screen and (max-width: 600px) and (orientation : landscape) {
  .bar_text {
    display: none;
  }

  .container {
    display: flex;
    visibility: visible;
  }

  .material_container {
    display: none;
  }

  #unfolded_button {
    display: inline;
  }

  .bar_info {
    height: 100%;
    width: 65px;
    background-color: #04AA6D;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    display: flex;
  }

  .container {
    display: flex;
    visibility: visible;
  }

  #unfolded_button {
    display: inline;
  }
}

/* Tablets */
@media only screen and (max-width: 925px) and (orientation : landscape) {
  .bar_text {
    display: none;
  }

  .submit-area {
    width: 70%;
    height: 55%;
  }

  .visible_menu {
    /* min-height: 5%; */
    width: 100%;
  }

  .hidden_menu {
    width: 100%;


  }

  .material_container {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    visibility: visible;

  }

  #unfolded_button {
    display: inline;
  }

  .bar_info {
    height: 100%;
    width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }


}

table pre {
    text-align: left;
    padding: 0 0 0 10%;
    margin: 0;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  text-decoration: underline;
  color: #888;

}