@import url("base.css");



.submit-area{
  width: 75%;
}


.dropzone {
  width: 100%;
  background: #eee;
  border-width: 1px;
  border-color: #ddd;
}

.dropzone:hover {
  background: #f4f4f4;
}

.submit-area {
  width: 20%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  justify-content: space-evenly;
  gap: 32px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 50%) 2px 2px 8px;
  margin-bottom: 20px;
}

.dropzone {
  overflow: overlay;
  text-align: center;
  min-height: 40%;
}

.config {
  width: 100%;
  background-color: rgb(210 237 240);
}

.submit-button{
  height: 40px;
}

.submit-button{
  margin-bottom: 1%;
  margin-top: 1%;
  text-align: center;
  
}

table, th, td {
  border: 1px solid rgba(161, 161, 161, 0.24);
  border-collapse: collapse;
  border-left: none;
  border-right: none;
}

td, th {
  text-align: center;
  padding:1.5px;
  max-width: 150px;
}

input{
  width: 40px;
}
.filename {
  text-align: left;
  overflow: auto;
}

table .material-icons {
  display: table-cell;
}

table {
  line-height: 250%;
  width: 100%;
  border: solid 2px #888;
  border-width: 2px 0 2px 0;
}

.valid:before {
  content: 'check_circle';
  color: green;
}

.warning:before {
  content: 'warning';
  color: orange;
}

.invalid:before {
  content: 'error';
  color: red;
}

.not:before {
  content: 'check_box_outline_blank';
  color: #aaa;
}

.ifc {
  background-image: url('./icons/ifc.png');
  background-repeat: no-repeat;
  background-position: center;
}

.progress {
  width: 200px;
  height: 12px;
  border-radius: 25px;
  background-color: rgba(194, 194, 194, 0.5);
}

.progress .percentage {
  position: absolute;
  width: 200px;
  text-align: center;

}

#report{
  text-decoration: none;
  font-weight: bold;
  color: #0070C0;
}

.percentage {
  color: rgba(105, 125, 239);
  font-weight: bold;
  border-radius: 25px;
}

.progress .bar {
  height: 12px;
  background: rgb(105, 125, 239);
  width: 0px;
  border-radius: 25px;
}

.model_report {
  font-weight: bold;
  color: #0070C0;
}

.model_time {
  font-weight: bold;
  color: #d9d9d9;
}

.dashboard_link {
  color: inherit;
  text-decoration: none;
}

.download {
  font-weight: bold;
  color: rgb(105, 125, 239);
}

.delete {
  font-weight: bold;
  color: rgb(224, 101, 101);
}



/* Phones */
@media only screen and (max-width: 600px) {

  .main {
    width: 100%;
    overflow: scroll;
    display: block;
  }

  .full-screen>.main {
    overflow: scroll;
    display: block;
  }

  .bar_text {
    display: none;
  }

  .bar_info {
    height: 100%;
    width: 65px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    display: flex;
  }

  .container {
    display: flex;
    visibility: visible;
  }

  .material_container {
    display: none;
  }

  #unfolded_button {
    display: inline;
  }


}


/* Phones landscape */
@media only screen and (max-width: 600px) and (orientation : landscape) {
  .bar_text {
    display: none;
  }

  .container {
    display: flex;
    visibility: visible;
  }

  .material_container {
    display: none;
  }

  #unfolded_button {
    display: inline;
  }

  .bar_info {
    height: 100%;
    width: 65px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    display: flex;
  }

  .container {
    display: flex;
    visibility: visible;
  }

  #unfolded_button {
    display: inline;
  }


}


/* Tablets */
@media only screen and (max-width: 925px) and (orientation : landscape) {

  .main {
    display: block;
  }

  .full-screen>.main {
    overflow: scroll;
    display: block;

  }

  .bar_text {
    display: none;
  }

  .submit-area {
    width: 70%;
    height: 55%;
  }

  dropzone{
    width: 100%;
  }

  

  .visible_menu {
    width: 100%;


  }

  .hidden_menu {
    width: 100%;


  }

  .material_container {
    display: none;
  }


  .container {
    display: flex;
    flex-direction: column;
    visibility: visible;

  }

  #unfolded_button {
    display: inline;
  }


  .bar_info {
    height: 100%;
    width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

}
  
abbrev {
  border-bottom: dotted 1px black;
}