# .dockerignore file for docker compose
**/.dev
**/.ssh
**/.DS_Store
**/.gitignore
**/.dockerignore
**/venv
**/Makefile
**/__pycache__
**/.pytest_cache
**/tests
**/.vscode
**/.md
**/.git
**/build
**/node_modules