__pycache__/
*.py[cod]
*.ifc
*.json
*.cover
docker-volumes
application/static/bimsurfer
application/nix
application/win
application/ifc-pipeline.db
application/ifc-python-parser
application/ifc-parser
application/bimsurfer_temp/
application/static/test.jpg
application/checks/ifcopenshell/
application/checks/request_builder.py
application/checks/dresult_bsdd.json
application/checks/result_bsdd.json
application/checks/__pycache__
application/checks/.pytest_cache
application/checks/tests/test_files
application/decoded.json
application/test_send.py
*.txt
application/ifcopenshell