**/venv/
**/__pycache__/
**/.pytest_cache/
**/node_modules
**/.dev
**/letsencrypt
.DS_Store
.env.*
redeploy.*
.VERSION

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### PyCharm ###
.idea/*
