version: '3'

services:
  db:
    image: postgres:12.1-alpine
    expose:
      - "5432"
    ports:
      - "5432:5432"
    volumes:
      - ./docker-volumes/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

  redis:
    image: redis:5.0.7-alpine
    expose:
      - "6379"
    volumes:
      - ./docker-volumes/redis:/data

  frontend:
    build:
      context: '.'
      dockerfile: application/Dockerfile
    entrypoint: sh -c 'python3 database.py; gunicorn --bind 0.0.0.0:5000 -w 8 --timeout 120 --access-logfile - --error-logfile - wsgi'
    environment:
      - MODEL_DIR=/data
      - REDIS_HOST=redis
      - POSTGRES_HOST=db
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - TESTING=${TESTING}
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - SERVER_NAME=${SERVER_NAME}
      - MG_KEY=${MG_KEY}
      - MG_EMAIL=${MG_EMAIL}
      - DEV_EMAIL=${DEV_EMAIL}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - CONTACT_EMAIL=${CONTACT_EMAIL}
      - CRYPTOGRAPHY_DONT_BUILD_RUST=1
      - SECRET_KEY=${SECRET_KEY}
      
    expose:
      - "5000"
    depends_on:
      - redis
      - db
    volumes:
      - ./models:/data
      
  nginx:
    build: ui
    depends_on:
      - frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker-volumes/certbot/conf:/etc/letsencrypt
      - ./docker-volumes/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c \"nginx -g 'daemon off;' & while true; do nginx -t && nginx -s reload; sleep 1h; done\""
  
  certbot:
    ports: []
    image: certbot/certbot
    volumes:
      - ./docker-volumes/certbot/conf:/etc/letsencrypt
      - ./docker-volumes/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit INT TERM; while true; do certbot renew --webroot -w /var/www/certbot; sleep 12h; done'"

  worker:
    build:
      context: '.'
      dockerfile: application/Dockerfile
    entrypoint: supervisord -n
    environment:
      - MODEL_DIR=/data
      - REDIS_HOST=redis
      - POSTGRES_HOST=db
      - NUM_WORKERS=2
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - SERVER_NAME=${SERVER_NAME}
      - MG_KEY=${MG_KEY}
      - MG_EMAIL=${MG_EMAIL}
      - DEV_EMAIL=${DEV_EMAIL}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - CONTACT_EMAIL=${CONTACT_EMAIL}
    depends_on:
      - redis
      - db
    volumes:
      - ./models:/data
