<!DOCTYPE html>
<html lang="en">

<head>
    <title>buildingSMART IFC Validation Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script type="text/javascript">
        var isIE = !!window.MSInputMethodContext;
        if (isIE) {
            document.write('<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>');
            document.write('<script type="text/javascript" src="/static/lib/fetch.umd.js"><\/script>');
        }
    </script>

    <!-- Store data from the server to JS variables -->
    <script>
        var savedModels = {{ saved_models| tojson}};
        var userId = "{{user_id}}";



        var toColumnUncomplete = {
            "syntax": 0,
            "schema": 1,
            "mvd": 2,
            "bsdd": 3,
            "ids": 4,
            "file_format": 5,
            "file_name": 6,
            "report": 7,
            "progress": 8,
            "advancement": 9,
            "stop": 10,
            "geoms": 11,
            "props": 12,
            "license": 13,
            "hours": 14,
            "details": 15
        }
        var toColumnComplete = {
            "syntax": 0,
            "schema": 1,
            "mvd": 2,
            "bsdd": 3,
            "ids": 4,
            "file_format": 5,
            "file_name": 6,
            "report": 7,
            "date": 8,
            "download": 9,
            "delete": 10,
            "geoms": 11,
            "props": 12,
            "license": 13,
            "hours": 14,
            "details": 15
        }


    </script>

    <script>
        function goToIndex() {
            var st = window.location.href;

            var baseUrl = st.split('/')[2];
            var url = "/";
            console.log(url)
            window.location = url;
        }
    </script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='validation.css') }}">

<body>

    <div class="header">

        <a href="/" style="padding-left: 5px;" id="logo">
            <img class="bsdd-logo" src="{{url_for('static', filename='navbar/buildingSMART_RGB_bSDD_service.png')}}" />
        </a>
        <div id="logo" style="margin-right:10px; display: flex;flex-direction: row; align-items: center;
            justify-content: center; align-content: space-between; gap: 12px;">

            <button onclick="goToIndex();" style="height: 40px;width: 150px;">VALIDATION >></button>
            <button
                style="height: 50px;width: 50px;border-radius: 50%;background-image: url(/static/icons/bs.JPG);background-repeat: no-repeat;border: none;background-size:cover;"></button>
            <!-- <img src="{{url_for('static', filename='navbar/BuildingSmart-login.png')}}" /> -->
        </div>

    </div>




    <div id="main">

        <table id="saved_models">
            <tr>
                <th>Syntax</th>
                <th>Schema</th>
                <th>MVD</th>
                <th>bSDD</th>
                <th>IDS</th>
                <th>File format</th>

                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th># geometries</th>
                <th># properties</th>

                <th>License</th>
                <th style="text-align: center;">Production hours</th>
                <th>Additional details</th>

            </tr>


            <script type="text/javascript" src="{{ url_for('static', filename='process.js') }}"></script>






        </table>
    </div>



</body>

</html>