{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='validation.css') }}">
{% endblock %}



{% block link %}<a href="/">Upload new files</a>{% endblock %}

{% block content %}

<div class="hidden_menu">
    <span>{{ username }}</span>
    <a href="/">Upload new files</a>
    <a href="/logout">Log out</a>
</div>

<script>


    var savedModels = {{ saved_models| tojson}};

    var columnsUncomplete = [
        "file_format",
        "file_name",
        "syntax",
        "schema",
        "mvd",
        "bsdd",
        "ia",
        "ip",
        //"ids",
        "report",
        "progress",
        "advancement",
        "stop",
        "geoms",
        "props",
        "license",
        "hours",
        "details",
    ];
    var columnsComplete = [
        "file_format",
        "file_name",
        "syntax",
        "schema",
        "mvd",
        "bsdd",
        "ia",
        "ip",
        //"ids",
        "report",
        "date",
        "download",
        "delete",
        "geoms",
        "props",
        "license",
        "hours",
        "details",
    ];
    var toColumnUncomplete = {};
    var toColumnComplete = {};
    columnsUncomplete.forEach((v, i) => { toColumnUncomplete[v] = i; });
    columnsComplete.forEach((v, i) => { toColumnComplete[v] = i; });
</script>

<div class="submit-area" id="ifc_tab">

    <form action="{{url_for('put_main')}}" class="dropzone" id="ifc_dropzone">
        <div class="dz-message" data-dz-message><span><i class='material-icons'>file_upload</i> Click or drop files here to upload for validation</span></div>
    </form>
    <button class="submit-button" id="submit">Start validation</button>
</div>



    <table id="saved_models">
        <tr>
            <th>File format</th>
            <th></th>
            
            <th>Syntax</th>
            <th>Schema</th>
            <th>MVD</th>
            <th>bSDD</th>
            <th><abbrev title="Implementer Agreements">IA</abbrev></th>
            <th><abbrev title="Informal Propositions">IP</abbrev></th>
            <!--<th>IDS</th>-->

            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th># geometries</th>
            <th># properties</th>

            <th>License</th>
            <th style="text-align: center;">Production hours</th>
            <th>Additional details</th>

        </tr>


        <script type="text/javascript" src="{{ url_for('static', filename='process.js') }}"></script>

    </table>

    <div class="hidden_menu">
        <span>{{ username }}</span>
        <a href="/">Upload new files</a>
        <a href="/logout">Log out</a>
    </div>
    

    <script>

        const beforeUnloadListener = (event) => {
            event.preventDefault();
            return event.returnValue = "Are you sure you want to exit?";
        };


        Dropzone.autoDiscover = false;
        var dz = new Dropzone("#ifc_dropzone",
            {
                uploadMultiple: true,
                acceptedFiles: ".ifc, .xml",
                parallelUploads: 100,
                maxFiles: 100,
                maxFilesize: 8 * 1024,
                autoProcessQueue: false,
                addRemoveLinks: true,
            });

        dz.on("input", (event) => {
            if (event.target.value !== "") {
                addEventListener("beforeunload", beforeUnloadListener, {capture: true});
            } else {
                removeEventListener("beforeunload", beforeUnloadListener, {capture: true});
            }
        });

        dz.on("addedfile", file => { console.log("new file") });

        dz.on("sending", function (file, xhr, data) {
            // @todo remove duplication with index.html
            var validationTypes = ['syntax', 'schema', 'mvd', 'bsdd', 'ia', 'ip'];

            validationTypes.forEach((vty) => {
                data.append(vty, 1);
            });
        });


        dz.on("success", function (file, response) {
            location.reload();

        });

        var submitButton = document.querySelector("#submit");
        submitButton.addEventListener("click", function () {
            dz.processQueue();

        });

    </script>

<script>
    function myFunction(x) {
            x.classList.toggle("change");

            var main = document.getElementsByClassName("main")[0];
            var menu = main.children[0];

            console.log("menu", menu)

            if(menu.className =="hidden_menu"){
                menu.className = "visible_menu";
            }
            else if(menu.className=="visible_menu"){
                menu.className = "hidden_menu";
            }
        }
</script>
    
{% endblock %}
