{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='validation.css') }}">
{% endblock %}

{% block link %}<a href="/">Upload new files</a>{% endblock %}

{% block content %}

<div class="hidden_menu">
    <span>{{ username }}</span>
    <a href="/">Upload new files</a>
    <a href="/logout">Log out</a>
</div>

<script>


    var savedModels = {{ saved_models| tojson}};

    var columnsUncomplete = [
        "file_format",
        "file_name",
        "syntax",
        "schema",
        "mvd",
        "bsdd",
        "ia",
        "ip",
        //"ids",
        "report",
        "progress",
        "advancement",
        "stop",
        "geoms",
        "props",
        "license",
        "hours",
        "details",
    ];
    var columnsComplete = [
        "file_format",
        "file_name",
        "syntax",
        "schema",
        "mvd",
        "bsdd",
        "ia",
        "ip",
        //"ids",
        "report",
        "date",
        "download",
        "delete",
        "geoms",
        "props",
        "license",
        "hours",
        "details",
    ];
    var toColumnUncomplete = {};
    var toColumnComplete = {};
    columnsUncomplete.forEach((v, i) => { toColumnUncomplete[v] = i; });
    columnsComplete.forEach((v, i) => { toColumnComplete[v] = i; });
</script>

{% include 'dropzone.html' %}

    <table id="saved_models">
        <tr>
            <th>File format</th>
            <th></th>
            
            <th>Syntax</th>
            <th>Schema</th>
            <th>MVD</th>
            <th>bSDD</th>
            <th><abbrev title="Implementer Agreements">IA</abbrev></th>
            <th><abbrev title="Informal Propositions">IP</abbrev></th>
            <!--<th>IDS</th>-->

            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th># geometries</th>
            <th># properties</th>

            <th>License</th>
            <th style="text-align: center;">Production hours</th>
            <th>Additional details</th>

        </tr>


        <script type="text/javascript" src="{{ url_for('static', filename='process.js') }}"></script>

    </table>

    <div class="hidden_menu">
        <span>{{ username }}</span>
        <a href="/">Upload new files</a>
        <a href="/logout">Log out</a>
    </div>
    

<script>
    function myFunction(x) {
            x.classList.toggle("change");

            var main = document.getElementsByClassName("main")[0];
            var menu = main.children[0];

            console.log("menu", menu)

            if(menu.className =="hidden_menu"){
                menu.className = "visible_menu";
            }
            else if(menu.className=="visible_menu"){
                menu.className = "hidden_menu";
            }
        }
</script>
    
{% endblock %}
