{% extends "base.html" %}
{% block css %}
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='all.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='validation.css') }}">
{% endblock %}

{% block link %}<a href="{%if commit_id%}/sandbox/{{commit_id}}{%endif%}/dashboard" style=" text-decoration: none;">Go to dashboard</a>{% endblock %}
{% block content %}
    <div class="hidden_menu">
        <span>{{ username }}</span>
        <a href="/dashboard">Go to dashboard</a>
        <a href="/logout">Log out</a>
    </div>
    
    <div style='padding: 100px'>
        <h1>Oops</h1>
        There was an error processing your request. We'll get back to you soon. 
    </div>
        
    <div class="hidden_menu">
        <span class="username">{{ username }}</span>
        <a href="/dashboard">Go to dashboard</a>
        <a href="/logout">Log out</a>
    </div>

<script>
    function myFunction(x) {
            x.classList.toggle("change");

            var main = document.getElementsByClassName("main")[0];
            var menu = main.children[0];

            console.log("menu", menu)

            if(menu.className =="hidden_menu"){
                menu.className = "visible_menu";
            }
            else if(menu.className=="visible_menu"){
                menu.className = "hidden_menu";
            }
        }
</script>

{% endblock %}
