{% extends "base.html" %}
{% block css %}
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='all.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}



{% block link %}<a href="{%if commit_id%}/sandbox/{{commit_id}}{%endif%}/dashboard">Go to dashboard</a>{% endblock %}
{% block content %}

            <div class="hidden_menu">
                <span>{{ username }}</span>
                <a href="/dashboard">Go to dashboard</a>
                <a href="/logout">Log out</a>
            </div>

            {% include 'dropzone.html' %}

            <div class="hidden_menu">
                <span class="username">{{ username }}</span>
                <a href="/dashboard">Go to dashboard</a>
                <a href="/logout">Log out</a>
            </div>

<script>
     function myFunction(x) {
            x.classList.toggle("change");

            var main = document.getElementsByClassName("main")[0];
            var menu = main.children[2];

            if(menu.className =="hidden_menu"){
                menu.className = "visible_menu";
            }
            else{
                menu.className = "hidden_menu";
            }
        }
    </script>

{% endblock %}
