
{% extends "base.html" %}
{% block css %}
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='report_consistency.css') }}">
{% endblock %}

    {% set header_bg = "rgb(230, 242, 255)" %}
    {% block link %}<a href="/dashboard">Go to dashboard</a>{% endblock %}
    {% block content %}
    <div class="hidden_menu">
        <span>{{ username }}</span>
        <a href="/dashboard">Go to dashboard</a>
        <a href="/logout">Log out</a>
    </div>

    <script>
        var results = {{results | tojson}} 
        
    </script>

    <script>
        function goToDashboard() {
            window.location = "/dashboard";
        }
    </script>

    
<script>

function getChildren(el, children = [], it=0){
                    
                    if(it !=0){
                        children.push(el);
                    }

                    vc = document.getElementsByClassName(el.classList[1].slice(0,-1));
                    vc.forEach(function (c, i) {
                        getChildren(c, children=children,i=i+1);
                    });

                    return children

                }

    function fold(element){

        classification = element.cells[0].innerText.split(" ");

        sliced = classification.slice(1);
        concatenated = classification.slice(1).join(" ");

        elementClass = element.classList[1].slice(0,-1);
        foldStatus = element.classList[0];
        parentClass = element.classList[2];
    
        to_unfold = foldStatus == "folded";
        console.log(to_unfold);

        v_children =document.getElementsByClassName(elementClass);
        
       
        if(to_unfold){
            v_children.forEach(function (item, index) {
                item.style.display = "";

                itemClass_ = item.classList[1];
                itemParentClass = item.classList[2];
            });

            elementClass_ = element.classList[1];
    
            element.classList.remove("folded");
            element.classList.remove(elementClass_);
            element.classList.remove(parentClass);

            element.classList.add("unfolded")
            element.classList.add(elementClass_);
            element.classList.add(parentClass);
            
            var cell = element.cells[0];
            cell.innerHTML = `&#9660; ${concatenated}`;

        }
        else{
        
            all_children = getChildren(element);
    
            all_children.forEach(function (item, index) {
                item.style.display = "none";
      
                itemClass_ = item.classList[1];
                itemParentClass = item.classList[2];
        
                item.classList.remove("unfolded");
                item.classList.remove(itemClass_);
                item.classList.remove(itemParentClass);

                item.classList.add("folded")
                item.classList.add(itemClass_);
                item.classList.add(itemParentClass);
            });


            elementClass_ = element.classList[1];
        
            element.classList.remove("unfolded");
            element.classList.remove(elementClass_);
            element.classList.remove(parentClass);

            element.classList.add("folded")
            element.classList.add(elementClass_);
            element.classList.add(parentClass);

            var cell = element.cells[0];
            cell.innerHTML =`&#9654; ${concatenated}`;

        }
    }

</script>


    <h1>Validation Report</h1>


    <table>
        <tr>
            <td colspan="2" class="rowheader">General</td>
        </tr>

        <tr>
            <td>Date</td>
            <td>{{model.date}}</td>
        </tr>

        <tr>
            <td>File name</td>
            <td>{{model.filename}}</td>
        </tr>

        <tr>
            <td>License</td>
            <td>{{model.license}}</td>
        </tr>

        <tr>
            <td>File size</td>
            <td>{{model.size}}</td>
        </tr>

        <tr>
            <td>Number of geometries</td>
            <td>{{model.number_of_geometries}}</td>
        </tr>

        <tr>
            <td>Number of properties</td>
            <td>{{model.number_of_properties}}</td>
        </tr>

        <tr>
            <td>IFC schema</td>
            <td>{{model.schema}}</td>
        </tr>
        <tr>
            <td>Authoring application</td>
            <td>{{model.authoring_application }}</td>
        </tr>
        <tr>
            <td>MVD(s)</td>
            <td>{{model.mvd}}</td>
        </tr>



    </table>

    <table>

        <tr>
            <td colspan="2" class="rowheader">Overview</td>
        </tr>


        {% set validation_symbols =
        {
        'v': ['&check;', 'green'],
        'i': ['&cross;','red'],
        'n':['&#9744;', 'gray'],
        'w':['&#9888;','rgb(255, 204, 0)']
        }
        %}

        {# ("mvd", "MVD"), #}

        {% set check_types=
        [
        ("syntax", "Syntax"),
        ("schema", "Schema"),
        ("bsdd", "bSDD")
        ]
        %}


        {% set validation_colors = {0:'rgb(255, 204, 204)', 1:'rgb(217, 242, 217)', 2:'rgb(242, 242, 242)', "error":'rgb(255, 204, 204)', "warning":'rgb(255, 204, 0)', "valid":'rgb(217, 242, 217)'}%} 
        
        {%for check_type, label in check_types%}
        <tr>
            <td>{{label}}</td>
            <td style="color:{{ validation_symbols[model['status_'+check_type]][1]}}">
                {{ validation_symbols[model['status_'+check_type]][0]|safe}}
            </td>
        </tr>

        {% endfor %}



    </table>

    <table>

        <tr data-current="bsdd" data-state="on" data-level=1 onclick="xPlay(this)">
            <td colspan=9 class="rowheader">Syntax</td>

        </tr>

        <tr>
            {% if results["syntax_result"] %}
                {% set syntax_valid = results['syntax_result']['msg'].lower() == 'valid' %}
                <td style="text-align:center;background-color: {{validation_colors[syntax_valid]}};" colspan=9>
                    {{- ('' if syntax_valid else '<pre>')|safe -}}
                    {{- results["syntax_result"]["msg"] -}}
                    {{- ('' if syntax_valid else '</pre>')|safe -}}
                </td>
            {% else %}
                <td style="text-align:center;background-color: {{validation_colors[2]}};" colspan=9>Not checked</td>
            {% endif %}
        </tr>

        <tr data-current="bsdd" data-state="on" data-level=1 onclick="xPlay(this)">
            <td colspan=9 class="rowheader">Schema</td>
        </tr>

        <tr>
        {% if results["schema_result"] %}
            {% set schema_valid = results['schema_result']['msg'].lower() == 'valid' %}
            <td style="text-align:center;background-color: {{validation_colors[schema_valid]}};" colspan=9>
                    {{- ('' if schema_valid else '<pre>')|safe -}}
                    {{- results["schema_result"]["msg"] -}}
                    {{- ('' if schema_valid else '</pre>')|safe -}}
            </td>
        {% else %}
            <td style="text-align:center;background-color: {{validation_colors[2]}};" colspan="9">Not checked</td>
        {% endif %}
        </tr>

        <tr data-current="bsdd" data-state="on" data-level=1 onclick="xPlay(this)">
            <td colspan=9 class="rowheader">bSDD</td>
        </tr>
    
        {% if results["bsdd_results"]["bsdd"] %}
            {% for domain, classification_dicts in results["bsdd_results"]["bsdd"].items() %}
                {% if domain == "no IfcClassification" %}
                    <tr><td style="text-align:center;background-color: {{validation_colors[2]}};" colspan=9>No classification in the file</td></tr>
                {% else %}

                    <!-- DOMAIN -->
                    <tr class="unfolded {{domain.replace(' ', '_')}}_ " onclick="fold(this)"><td colspan=9>Domain: {{domain}}</td></tr>
                    {% for classification, bsdds in classification_dicts.items() %}
                        <!-- CLASSIFICATION -->
                        <tr class="folded {{classification.replace(' ', '_')}}_ {{domain.replace(' ', '_')}}" onclick="fold(this)"><td colspan=9 >&#9654; Classification reference: {{classification}}</td></tr>
 
                        {% for error in errors[domain][classification] %}
                         <!-- ERROR -->
                            {% set error_index = loop.index|string %}
                            {% set classname = "error_" + error_index +"_" %}
                            <tr class="folded {{classname}} {{classification.replace(' ', '_')}}" style="display:none; font-style: bold;" onclick="fold(this)"><td>&#9654; Error {{loop.index}}</td></tr>


                            {% set values = error.validation_constraints %}
                        
                            {% set pset = error.validation_constraints[1] %}
                            {% set pname = error.validation_constraints[2] %}
                           

                            {% if error.validation_results[3] == False or error.validation_results[4] == False %}
                                {% if error.validation_results[4] == False and error.validation_results[3] == False%}
                                    {% set msg = "Required " +  values|string+ "(" + error.validation_constraints[3]|string+ ")" %}
                                    {% set item = 'i' %}
                                    {% set color = red %}
                                {% elif error.validation_results[4] == False and  error.validation_results[4] == True %}
                                    {% set msg = "Required (" + error.validation_constraints[3]|string %}
                                    {% set item = 'i' %}
                                    {% set color = red %}
                                {% else %}
                                    {% set item = 'i' %}
                                    {% set color = red %}
                                    {% set msg = "Required " + values|string %}

                                {% endif %}
                            {% else %}
                                {% set item = 'v' %}
                                {% set color = green %}
                                {% set msg = ""%}
                            {% endif %}


                            <tr class="folded instance {{classname[:-1]}}" style="display:none; font-style: bold;" onclick="fold(this)">
                                {% if item == 'v' %}
                                    <td style="color:green; text-align: center;"> {{ validation_symbols[item][0]|safe}}</td>
                                {% else %}
                                    <td style="color:red; text-align: center;"> {{ validation_symbols[item][0]|safe}}</td>
                                {% endif %}
                                <td>{{pset}}.{{pname}}</td>
                                <td>{{msg}}</td>
                              
                                <!-- <td>{{error.validation_results}}</td>
                                <td>{{error.validation_constraints}}</td>

                                <td>{{error.validation_results[3]}}</td>
                                <td>{{error.validation_results[4]}}</td> -->
                            </tr>

                            <tr class="folded instance {{classname[:-1]}}" style="display:none; font-style: bold;" onclick="fold(this)"></tr>
                            <tr class="folded instance {{classname[:-1]}}" style="display:none; font-style: bold;" onclick="fold(this)"><td>On {{error.instances|length}} instance(s):</td></tr>


                            {% for instance in error.instances %}
                                <tr class="folded instance {{classname[:-1]}}" style="display:none; font-style: bold;" onclick="fold(this)">
                                    <td></td>
                                    <td>{{results["bsdd_results"]["instances"][instance]['ifc_type']}} ({{results["bsdd_results"]["instances"][instance]['global_id']}})</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}

                        
                    {% endfor %}
                {% endif %}
            {% endfor %}

        {% else %}
            
            <tr>
                <td style="text-align:center;background-color: {{validation_colors[2]}};" colspan=9>Not checked</td>
            </tr>

        {% endif %}
    </table>

    <div class="hidden_menu">
        <span>{{ username }}</span>
        <a href="/dashboard">Go to dashboard</a>
        <a href="/logout">Log out</a>
    </div>
    
    <script>
    function myFunction(x) {
            x.classList.toggle("change");

            var main = document.getElementsByClassName("main")[0];
            var menu = main.children[0];


            if(menu.className =="hidden_menu"){
                menu.className = "visible_menu";
            }
            else if(menu.className=="visible_menu"){
                menu.className = "hidden_menu";
            }
        }
    </script>

{% endblock %}