<!DOCTYPE html>
<html lang="en">

<head>
    <title>buildingSMART IFC Validation Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script type="text/javascript">
        var isIE = !!window.MSInputMethodContext;
        if (isIE) {
            document.write('<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>');
            document.write('<script type="text/javascript" src="/static/lib/fetch.umd.js"><\/script>');
        }
    </script>

<script>
    function goToIndex(){
        var st = window.location.href;

        var baseUrl = st.split('/')[2];
        var url = "/";
        console.log(url)
        window.location = url;
}
</script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='validation.css') }}">

<body>

    <div class="header">

        <a href="/" style="padding-left: 5px;" id="logo">
            <img class="bsdd-logo"
                src="{{url_for('static', filename='navbar/buildingSMART_RGB_bSDD_service.png')}}" />
        </a>
        <div id="logo" style="margin-right:10px; display: flex;flex-direction: row; align-items: center;
        justify-content: center; align-content: space-between; gap: 12px;">

            <button onclick= "goToIndex();" style="height: 40px;width: 150px;">VALIDATION >></button>
            <button style="height: 50px;width: 50px;border-radius: 50%;background-image: url(/static/icons/bs.JPG);background-repeat: no-repeat;border: none;background-size:cover;"></button>
            <!-- <img src="{{url_for('static', filename='navbar/BuildingSmart-login.png')}}" /> -->
    </div>
    
    </div>


    <script>
        function sendInfo2(box, boxtype, index){

            //debugger;
            //event.srcElement.value


            var element = event.srcElement;

            // console.log("THIS", this)

            var data; 
            var i = parseInt(index);


            if(boxtype == "licenses"){
                data = {type:"licenses", license: element.value, n:i,from:"saved"};
            }
            if (boxtype == "hours"){
                data = {type:"hours", hours: element.value, n:i,from:"saved"};
            }
            if(boxtype =="details"){
                data = {type:"details", details: element.value, n:i,from:"saved"};
            }


            fetch("/update_info_saved/"+ i.toString() + "/{{user_id}}", {
                method: "POST", 
                body: JSON.stringify(data)
            }).then(function (r) { return r.json(); }).then(function (r) {
                console.log(r);
            })

        }
    </script>

   

    <div id="main">

        <table>
            <tr>
                <th>Syntax</th>
                <th>Schema</th>
                <th>MVD</th>
                <th>bSDD</th>
                <th>IDS</th>
                <th>File format</th>

                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th># geometries</th>
                <th># properties</th>
                
                <th>License</th>
                <th style = "text-align: center;">Production hours</th>
                <th>Additional details</th>
 
            </tr>
            {% for i in range(0, n_files) %}
                {% set percentageid = "percentage" + i|string %}
                {% set barid = "bar" + i|string %}
                {% set fn = filenames[i]|string %}
                
                {% set format = filenames[i][-3::]|string %}

                <tr style="background-color:#ffffe6">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><img src="/static/icons/ifc.png" /></td>

                    <td id ="filename" style="color:royalblue;font-weight: bold;">{{fn}}</td>
                    <td></td>
                    <td>

                        <div class='progress'>
                            <div id={{barid}} class='bar'></div>
                        </div>

                    </td>
                    <td>
                        <div id={{percentageid}} class='percentage' style="color:rgb(105, 125, 239);"></div>
                    </td>
                    <td style="color:rgb(224, 101, 101); font-weight: bold;">Stop</td>

                    <td>Test</td>
                    <td>Test</td>

                    <td>
                    {% if previous_file_input[i].license != None%}
                        <select name="licenses" id="licenses" onchange="sendInfo2(this,'licenses','{{loop.index0}}')">
                            <option value="private" >private</option>
                            <option value="CC">CC</option>
                            <option value="MIT">MIT</option>
                            <option value="GPL">GPL</option>
                        </select>
                       
                    
                
                    {% else %}

                    <select name="licenses" id="licenses" onchange="sendInfo2(this,'licenses','{{loop.index0}}')">
                        {% if model.license == "private" %}
                            <option value="private" selected >private</option>
                        {% else %}
                            <option value="private" >private</option>
                        {% endif %}

                        {% if model.license == "CC" %}
                            <option value="CC" selected >CC</option>
                        {% else %}
                            <option value="CC">CC</option>
                        {% endif %}

                        {% if model.license == "MIT" %}
                            <option value="MIT" selected >MIT</option>
                        {% else %}
                            <option value="MIT" >MIT</option>
                        {% endif %}

                        {% if model.license == "GPL" %}
                            <option value="GPL" selected >GPL</option>
                        {% else %}
                            <option value="GPL" >GPL</option>
                        {% endif %}
                    </select>

                      
                    {% endif %} 

                    </td>
                    <td style ="text-align:center;">
                        {% if previous_file_input[i].hours!= None %}
                            <input type="text" id="hours" value={{previous_file_input[i].hours}} style="width:20%;" onchange="sendInfo()">
                        
                        {% else %}
                            <input type="text" id="hours" style="width:20%;" onchange="sendInfo()">
                        {% endif %} 
                    </td>
                    <td>
                        {% if previous_file_input[i].details != None %}
                        <input type="text" id="details" value={{previous_file_input[i].details}} onchange="sendInfo()">
                        {% else %}
                            <input type="text" id="details" onchange="sendInfo()">
                        {% endif %} 
                        
                    </td>
                </tr>
            {% endfor %}



            {% for model in saved_models %}

                {% set icons = {'v':'valid', 'w':'warning', 'i':'invalid', 'n':'not'} %} 

               

                <tr>
                    <td>
                        <img src="/static/icons/{{icons[model.status_syntax]}}.png">
                    </td>
                    <td>
                        <img src="/static/icons/{{icons[model.status_schema]}}.png">
                    </td>
                    <td>
                        <img src="/static/icons/{{icons[model.status_mvd]}}.png">
                    </td>
                    <td>
                        <img src="/static/icons/{{icons[model.status_bsdd]}}.png">
                    </td>
                    <td>
                        <img src="/static/icons/{{icons[model.status_ids]}}.png">
                    </td>
                    

                    <td><img src="/static/icons/ifc.png" /></td>

                    <td style="color:royalblue;font-weight: bold;">{{model.filename}}</td>
                    
                    <td>
                        <a id="report" style="color: rgb(0, 112, 192); font-weight: bold;text-decoration: none;">View report</a>
                    </td>
                    <td>{{model.date}}</td>
                    <td style="color:rgb(105, 125, 239); font-weight: bold;">Download</td>
                    <td style="color:rgb(224, 101, 101); font-weight: bold;">Delete</td>
                    <td>{{model.number_of_geometries}}</td>
                    <td>{{model.number_of_properties}}</td>

                    
                    <td>
                        <select name="licenses" id="licenses" onchange="sendInfo2(this,'licenses','{{loop.index0}}')">
                            {% if model.license == "private" %}
                                <option value="private" selected >private</option>
                            {% else %}
                                <option value="private" >private</option>
                            {% endif %}

                            {% if model.license == "CC" %}
                                <option value="CC" selected >CC</option>
                            {% else %}
                                <option value="CC">CC</option>
                            {% endif %}

                            {% if model.license == "MIT" %}
                                <option value="MIT" selected >MIT</option>
                            {% else %}
                                <option value="MIT" >MIT</option>
                            {% endif %}

                            {% if model.license == "GPL" %}
                                <option value="GPL" selected >GPL</option>
                            {% else %}
                                <option value="GPL" >GPL</option>
                            {% endif %}
                        </select>
        
                    </td>


                  


                    <td style ="text-align:center;">
                        {% if model.hours != None %}
                            <input type="text" id="details" style="width: 20%; " value= "{{model.hours}}"  onchange="sendInfo2(this,'hours', '{{loop.index0}}')">
                        {% else %}
                            <input type="text" id="details" style="width: 20%; text-align: center;" value="" onchange="sendInfo2(this,'hours', '{{loop.index0}}')">
                        {% endif %}
                    </td>


                    
                    <td>
                        {% if model.details != None %}
                            <input type="text" id="details" value= "{{model.details}}" onchange="sendInfo2(this,'details', '{{loop.index0}}')">
                        {% else %}
                            <input type="text" id="details" value="" onchange="sendInfo2(this,'details', '{{loop.index0}}')">
                        {% endif %}
                    </td>


                </tr>

            {% endfor %}

        </table>
    </div>

    <script>

        var to_column = {"mvd":1,
                        "bsdd":2,
                        "ids":3,
                        "fileformat":4,
                        "filename":5,
                        "progress":6,
                        "advancement":7,
                        "download":8,
                        "delete":9,
                        "geoms":10,
                        "props":11,
                        "license":12,
                        "hours":13,
                        "details":14
    }
    
        const processed_files = new Set();
        var icons = {'v':'valid', 'w':'warning', 'i':'invalid', 'n':'not'};

        function completeTable(i, results, ids, rows) {

            fetch("/reslogs/" + i + "/" + ids).then(function (r) { return r.json(); }).then(function (r) {

                // debugger; 

                console.log(r["results"]['bsddlog']);
                
                var syntaxImg = document.createElement("img");
                syntaxImg.src = "/static/icons/"+ icons[r["results"]['syntaxlog']]+".png";

                var schemaImg = document.createElement("img");
                schemaImg.src = "/static/icons/"+ icons[r["results"]['schemalog']]+".png";

                var MVDImg = document.createElement("img");
                MVDImg.src = "/static/icons/"+ icons[r["results"]['mvdlog']]+".png";

                var bsddImg = document.createElement("img");
                bsddImg.src = "/static/icons/"+ icons[r["results"]['bsddlog']]+".png";

                var idsImg = document.createElement("img");
                idsImg.src = "/static/icons/"+ icons[r["results"]['idslog']]+".png";

                rows[i + 1].cells[0].appendChild(syntaxImg);
                rows[i + 1].cells[1].appendChild(schemaImg);
                rows[i + 1].cells[2].appendChild(MVDImg);
                rows[i + 1].cells[3].appendChild(bsddImg);
                rows[i + 1].cells[4].appendChild(idsImg);

                rows[i + 1].cells[8].innerHTML = r["time"];
                rows[i + 1].cells[8].style.fontWeight = "bold";
                rows[i + 1].cells[8].style.color = "#d9d9d9";


            });


            var repText = document.createElement("a");
            repText.id ="report"
            repText.style.textDecoration = "none";
            repText.innerHTML = "View report"
            var fn = rows[i + 1].cells[6].innerHTML;
            var st = window.location.href;

            var baseUrl = st.split('/')[2];
            var url = "/report/"+ i+"/"+ids + "/" + fn;
            
            repText.href = url;
            rows[i + 1].cells[7].appendChild(repText)
        
            rows[i + 1].cells[7].style.color = "#0070C0";
            rows[i + 1].cells[7].style.fontWeight = "bold";
            rows[i + 1].cells[7].id = "report"

            rows[i + 1].cells[9].innerHTML = '<a href="{{ url_for("index") }}" style ="text-decoration:none;">Download</a>';
            rows[i + 1].cells[10].innerHTML = '<a href="{{ url_for("index") }}" style ="text-decoration:none;">Delete</a>';

            rows[i + 1].cells[9].style.fontWeight = "bold";
            rows[i + 1].cells[10].style.fontWeight = "bold";
            rows[i + 1].cells[9].style.color = "rgb(105, 125, 239)";
            rows[i + 1].cells[10].style.color = "rgb(224, 101, 101)";


            //License
            var values = ["private","CC", "MIT",  "GPL"];

            // var select = document.createElement("select");
            // select.name = "licenses";
            // select.id = "licenses"
            var select = document.getElementById("licenses");
            select.addEventListener("change", sendInfo);

            //Production hours
            var hoursInputBox = document.getElementById("hours");
            hoursInputBox.addEventListener("change", sendInfo);
            

            //Additional details
            var detailsInputBox = document.getElementById("details");

            detailsInputBox.addEventListener("change", sendInfo);

            function sendInfo(index=null){


                console.log(this)
                var data; 
                
                if(index != null){
                    i = index;
                }

                if(this.id == "licenses"){
                    data = {type:"licenses", license: this.value, n:i};
                }
                if (this.id == "hours"){
                    data = {type:"hours", hours: this.value, n:i};
                }
                if(this.id =="details"){
                    data = {type:"details", details: this.value, n:i};
                }

                
                fetch("/update_info/{{id}}/"+ i.toString() + "/{{user_id}}", {
                    method: "POST", 
                    body: JSON.stringify(data)
                }).then(function (r) { return r.json(); }).then(function (r) {
                    console.log(r);
                })
            


            }
           

        }

        var n = {{ n_files }};

        const registered = new Set();

        function poll() {
            fetch("/valprog/{{ id }}").then(function (r) { return r.json(); }).then(function (r) {
                var ids = '{{id}}';

                for (var i = 0; i < n; i++) {
                    var bar = document.getElementById("bar" + i.toString())
                    var percentage = document.getElementById("percentage" + i.toString())

                    var fn = r.filename;

                    var rows = document.getElementsByTagName("table")[0].rows;
                    var file_info = r.file_info[i]
                    
                   

                    document.getElementsByTagName("table")[0].rows[i+1].cells[11].innerHTML = file_info["number_of_geometries"];
                    document.getElementsByTagName("table")[0].rows[i+1].cells[12].innerHTML = file_info["number_of_properties"];




                    if (r.progress[i] === 100) {

                        if (!registered.has(i)) {

                            registered.add(i);

                            bar.style.width = 100 * 2 + 'px';
                            percentage.innerHTML = "100%"
        
                            var rows = document.getElementsByTagName("table")[0].rows;
                            completeTable(i, r, ids, rows);

                        }

                    } else {
                        var p = r.progress[i];
                        if (p < 0) {
                            percentage.innerHTML = "<i>in queue</i>";
                            p = 0
                        } else {
                            percentage.innerHTML = p + "%";
                        }
                        bar.style.width = p * 2 + 'px';
                        
                    }

                }

                setTimeout(poll, 1000);

            });
        }

        poll();

    </script>

</body>

</html>