.dz-message .material-icons {
    display: block;
    opacity: 0.5;
    font-size: 3em;
}

.dz-image {
    display: none !important;  
}

.dz-details {
    width: auto !important;
    position: inherit !important;
    padding: 0 !important;
}

.dz-preview {
    border: solid 1px #aaa;
    width: 75%;
    padding: 1em !important;
    background: #ddd;
}

.dz-progress {
    position: relative !important;
    margin: 0.5em !important;
    width: 80% !important;
    margin-left: -40% !important;
}

.dropzone {
  width: 100%;
  background: #eee;
  border-width: 1px;
  border-color: #ddd;
  height:200px;
  min-height: 200px;
  max-height: 200px;
}

.dropzone:hover {
  background: #f4f4f4;
}

.submit-area {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  justify-content: space-evenly;
  gap: 32px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 50%) 2px 2px 8px;
  max-width: 300px;
  min-width: 300px;

}

.dropzone {
  overflow: overlay;
  text-align: center;
  min-height: 40%;
} 

.submit-button{
  height: 40px;
  margin-bottom: 1%;
  margin-top: 1%;
  text-align: center;
  
}